body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(100, 26, 169);
    color: rgb(189, 166, 166);
    text-align: center;
    font-size: 16px;
}

h1{
    color:blanchedalmond;
    font-size:3em;
    text-decoration: underline;
    background-color:rgb(41, 32, 124);
}

p, ul, ol, table{
    line-height: 1.5;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol{
    padding-left:15px;
}

table{
    color:black;
    background-color: rgb(44, 192, 192);
    width: 60%;
    box-shadow: -5px 5px 3px rgb(0, 0, 0);
}
th,td{
    border: 1px solid green;
    padding: 8px;
    text-align: center;
}

a{
    color: rgb(0, 165, 0);
}
a:hover{
    text-decoration: underline;
    text-shadow: 1px 2px rgb(44, 192, 192);
}
img{
    border: 2px solid #000;
    border-radius: 8px;
    width: 200px;
}